<section class="hero-section">
  <div class="hero-content">
    <h1>Say goodbye to language apps that don't help you speak</h1>
    <p>Using learning techniques developed by Oxford neuroscientists, Memrise gets you feeling and sounding like a native.</p>
    <p><strong>*Perfect for anyone who wants to belong—</strong><br>World Explorers | Lifelong Learners | Adventurers in Love</p>
    <a routerLink="/start-learning" class="cta-button">Start learning</a>
  </div>
  <div class="hero-image">
    <img src="assets/home-image.png" alt="Home Image">
  </div>
</section>
